/* GLOBAL VARIABLES */
:root {
  --brand-color: rgba(33, 150, 243, 1);
  --base-text-color: rgba(33, 33, 33, 1);
  --description-color: rgba(117, 117, 117, 1);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --lighter-secondary-text-color: rgba(255, 255, 255, 0.6);
  --contact-text-color: rgba(117, 117, 117, 1);
  --secondary-background-color: rgba(47, 48, 58, 1);
  --button-background-color: rgba(245, 244, 250, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--base-text-color);
  margin: 0;
}

/* COMMON STYLES */
.navigation-list,
.contact-list,
.main-description-list,
.portfolio-list {
  list-style: none;
}

.navigation-a,
.contact-a,
.footer-contact-element {
  text-decoration: none;
  font-size: 0.875em;
}

/* HEADER STYLES */
.header {
  width: 1600px;
  height: 80px;
}

/* HEADER STYLES - LOGO */
.logo {
  font-family: Raleway;
  font-size: 1.625em;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-left-side {
  color: var(--brand-color);
}

.logo-right-side {
  color: rgb(0, 0, 1);
}

.logo-right-side2 {
  color: var(--secondary-text-color);
}

/* HEADER STYLES - NAVBAR */
.navigation-a {
  color: var(--base-text-color);
}

.hover-effect:hover,
.hover-effect:focus {
  color: var(--brand-color);
}

/* HEADER STYLES - CONTACT LIST */
.contact-a {
  color: var(--contact-text-color);
}

/* COMMON HEADER STYLES */
.navigation-a,
.contact-a {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contact-list,
.contact-element {
  display: inline-block;
}

.navigation-bar,
.navigation-element {
  display: inline-block;
}

/* MAIN HEADER STYLES */
.main-header-section {
  width: 1600px;
  height: 600px;
  background-color: var(--secondary-background-color);
}

.main-header-text {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 2.75em;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
}

.main-header-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  padding: 10px 41px 10px 42px;
  cursor: pointer;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* MAIN DESCRIPTION STYLES */
.main-description-section {
  width: 1170px;
  height: 101px;
}

.main-description-list {
  width: 1170px;
  height: 101px;
}

.main-description-element {
  width: 270px;
  height: 101px;
  display: inline-block;
}

.main-description-h3 {
  font-size: 0.875em;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.main-description {
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-text-color);
}

/* SERVICES STYLES */
.services-section {
  width: 1170px;
  height: 386px;
}

.services-h2 {
  font-size: 2.25em;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.services-list {
  list-style: none;
}

.services-element {
  display: inline-block;
}

/* TEAM CARDS STYLES */
.team-section {
  width: 1600px;
  height: 648px;
}

.team-h2 {
  font-size: 2.25em;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list {
  width: 1170px;
  height: 368px;
}

.team-card {
  width: 270px;
  height: 368px;
  display: inline-block;
}

.card-background {
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member-role {
  font-size: 1em;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* FOOTER STYLES */
.footer {
  width: 1600px;
  height: 252px;
  background-color: var(--secondary-background-color);
}

.footer-address-section {
  width: 246px;
  height: 81px;
}

.address {
  color: var(--secondary-text-color);
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact-element {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--lighter-secondary-text-color);
}

/*
------------|
  PORTFOLIO 
   STYLES     
     🎨          
------------|
*/

/* BUTTON-FILTER STYLES */

.button-filter-section {
  width: 572px;
  height: 54px;
}

.button-filter-list {
  width: 100%;
  height: 100%;
}

.button-filter-list-element {
  display: inline-block;
}

.button-filter {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  color: var(--base-text-color);
  background-color: var(--button-background-color);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--secondary-text-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* PORTFOLIO STYLES */

.portfolio-section {
  width: 1170px;
  height: 1360px;
}

.portfolio-list {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.portfolio-list-element {
  width: 370px;
  height: 404px;
  display: inline-block;
}

.portfolio-bg {
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
}

.portfolio-project-title {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--base-text-color);
}

.portfolio-project-type {
  font-size: 1em;
  font-size: 1.87;
  letter-spacing: 0.03em;
  color: var(--contact-text-color);
}
