.assets-section {
  &__container {
    @extend .container;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__header {
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    min-height: 75px;
    color: $contact-text-color;
  }
}

.icon-container {
  padding: 25px 100px;
  background-color: $button-background-color;
  margin-bottom: 30px;
}
