.clients-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @extend .container;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__client {
    width: 210px;
    border: 1px solid $base-icon-color;
    border-radius: 4px;
    fill: $base-icon-color;
    transition: fill $transition-duration $transition-tempo,
      border-color $transition-duration $transition-tempo,
      width $transition-duration $transition-tempo;

    &:hover {
      fill: $brand-color;
      border-color: $brand-color;
      cursor: pointer;
    }
  }

  &__icon {
    transition: width $transition-duration $transition-tempo;
    width: 210px;
    height: 92px;
  }
}

// Laptop
@media (min-width: 768px) {
  .clients-section {
    &__client {
      width: 225px;
    }

    &__icon {
      width: 225px;
    }
  }
}

// Desktop
@media (min-width: 1200px) {
  .clients-section {
    &__client {
      width: 170px;
    }

    &__icon {
      width: 170px;
    }
  }
}
