// Footer group
.footer {
  background-color: $secondary-background-color;
  padding: 60px 0px;

  &__logo {
    padding-bottom: 21px;
  }

  &__address {
    color: $secondary-text-color;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &-section {
      font-style: normal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
    }
  }

  &__contact-item {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $lighter-secondary-text-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social-bar-list {
    display: flex;
    padding-top: 20px;
    gap: 10px;

    &-logo {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      fill: $button-background-color;
      background-color: $icon-background-color;
      transition: background-color $transition-duration $transition-tempo;

      &:hover {
        background-color: $brand-color;
        cursor: pointer;
      }
    }
  }

  &-social-header {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
  }

  &__social-bar-wrapper {
    margin-top: 12px;
  }

  &-container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
}

// Newsletter group
.newsletter-form {
  padding-top: 12px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: $secondary-text-color;

  & h3 {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  & input {
    outline: none;
    width: 358px;
    color: $secondary-text-color;
    background: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;

    &:focus {
      border-color: $secondary-text-color;
    }
  }

  & button {
    background: $brand-color;
    color: $secondary-text-color;
    padding: 10px 28px 10px 42px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &__register-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
}

.newsletter-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
