body {
  font-family: Roboto, sans-serif;
  color: $base-text-color;
  margin: 0;
}

form,
input,
textarea,
button {
  font-family: inherit;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0px;
}

.section-header {
  font-size: 1.75rem;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  transition: all $transition-duration $transition-tempo;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all $transition-duration $transition-tempo;
}

.margin-section {
  margin-bottom: -34px;
}

.navigation__link,
.contact-list__link,
.footer__contact-item {
  text-decoration: none;
  font-size: 0.875rem;
}

// Tablet
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// Desktop
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }

  .section {
    padding: 94px 0px;

    &-header {
      font-size: 2.25rem;
    }
  }

  .margin-section {
    margin-bottom: -94px;
  }
}
