.header {
  padding: 24px 0px 25px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__container {
    @extend .container;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hover-effect {
  transition: color $transition-duration $transition-tempo,
    fill $transition-duration $transition-tempo;

  &:hover,
  &:focus {
    color: $brand-color;
    fill: $brand-color;
  }
}

.logo {
  font-family: Raleway;
  font-size: 1.625rem;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--left-side {
    color: $brand-color;
  }

  &--right-side {
    color: rgb(0, 0, 1);
  }
}

.navigation {
  display: none;
  &__list {
    transition: all $transition-duration $transition-tempo;
    display: flex;
    gap: 46px;
  }

  &__link {
    @extend .hover-effect;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: $base-text-color;
    position: relative;

    &--active {
      position: relative;
      color: $brand-color;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -38px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $brand-color;
      }
    }
  }
}

.contact-list {
  display: none;
  gap: 10px;

  &__link {
    @extend .hover-effect;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: $contact-text-color;
    display: flex;
    gap: 10px;
  }
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  transform: translateX(100vw);
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: transform $transition-duration $transition-tempo;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  letter-spacing: 0.02em;
  font-weight: 500;

  &.is-open {
    visibility: visible;
    transform: translateX(0);
  }

  &__toggle {
    background-color: inherit;

    &-close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: inherit;
      width: 40px;
      height: 40px;
      font-size: 2.5rem;
      font-weight: normal;
      transition: color $transition-duration $transition-tempo;

      &:hover,
      &:focus {
        color: $brand-color;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: inherit;
    font-size: 2.5rem;
    line-height: 1.175;
    text-decoration: none;
    transition: color $transition-duration $transition-tempo;

    &:hover,
    &:focus {
      color: $brand-color;
    }

    &--active {
      color: $brand-color;
    }
  }

  &__contact {
    font-size: 1.5rem;
    line-height: 1.16;
    color: $contact-text-color;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &-list {
      margin-top: 302px;
      margin-bottom: 64px;
    }

    &--phone {
      font-size: 2.125rem;
      line-height: 1.17;
      color: $brand-color;
      margin-bottom: 32px;
    }
  }

  &__social-bar {
    display: flex;
    gap: 20px;
  }

  &__social {
    &-link {
      font-size: 1.125rem;
      line-height: 1.22;
      color: $brand-color;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    transition: fill $transition-duration $transition-tempo;

    &:hover,
    &:focus {
      fill: $brand-color;
      cursor: pointer;
    }
  }
}

// Tablet
@media (min-width: 768px) {
  .menu {
    &__icon {
      display: none;
    }
  }

  .navigation {
    display: flex;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
  }
}

// Desktop
@media (min-width: 1200px) {
  .contact-list {
    flex-direction: row;
    gap: 30px;
  }

  .navigation {
    &__list {
      margin-right: 345px;
      margin-left: 93px;
    }

    &__link {
      &::after {
        bottom: -33px;
      }
    }
  }
}
