.team-section {
  background-color: $button-background-color;

  &__list {
    width: 1170px;
    min-height: 368px;
    list-style: none;
    display: flex;
    gap: 30px;
  }

  &__card-background {
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__member-info {
    text-align: center;
  }

  &__member-name {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px;
  }

  &__member-role {
    font-size: 1rem;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $description-color;
  }

  &__contact-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 30px;

    &-logo {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      fill: $base-icon-color;
      transition: fill $transition-duration $transition-tempo,
        background-color v$transition-duration $transition-tempo;

      &:hover {
        fill: $secondary-text-color;
        background-color: $brand-color;
        cursor: pointer;
      }
    }
  }
}
