$brand-color: rgba(33, 150, 243, 1);
$base-text-color: rgba(33, 33, 33, 1);
$description-color: rgba(117, 117, 117, 1);
$lighter-description-color: rgba(117, 117, 117, 0.5);
$secondary-text-color: rgba(255, 255, 255, 1);
$lighter-secondary-text-color: rgba(255, 255, 255, 0.6);
$icon-background-color: rgba(255, 255, 255, 0.1);
$contact-text-color: rgba(117, 117, 117, 1);
$secondary-background-color: rgba(47, 48, 58, 1);
$button-background-color: rgba(245, 244, 250, 1);
$base-icon-color: rgba(175, 177, 184, 1);
$transition-tempo: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$background-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
